{% extends "base.html.twig" %}

{% block title %}Hello BlogController!
{% endblock %}

{% block body %}

	<section class="articles">
		{% for article in articles %}
			<article>
				<h2>{{article.title}}</h2>
				<div class="metadata">Ecrirt le
					{{ article.createdAt | date('d/n/y')}}
					à
					{{ article.createdAt | date('H:i') }}
					dans la catégorie Politique
				</div>
				<div class="content">
					<img src={{article.image}} alt="">
					{{ article.content | raw }}

					<a href="/blog/{{ article.id }}" class="btn btn-primary">
						Lire la suite
					</a>
				</div>
			</article>
		{% endfor %}

	</section>
{% endblock %}
